@import "./vars.scss";
@import "./media.scss";
@import "./header.scss";
@import "./firstSection.scss";
@import "./secondSection.scss";
@import "./thirdSection.scss";
@import "./vars.scss";
@import "./fourthSection.scss";
@import "./slider.scss";
@import "./fifthSection.scss";
@import "./sixthSection.scss";
@import "./burger.scss";
@import "./footer.scss";
@import "./portfolio/portfolio.scss";
@import "./aboutUs/about_us.scss";
@import "./partnerWithUs/partner_with_us.scss";
@import "./modal.scss";


html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 30px;

  @media (max-width: 600px) {
    padding: 0 25px;
  }
}
.button {
  background-color: $accent;
  color: #fff;
  padding: 12px 40px;
  border: 1px solid $accent;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.5s ease;
  font-weight: 600;
  border-radius: 100px;
  outline: none !important;
  width: fit-content;
  cursor: pointer;
  line-height: 160%;
  max-height: 53px;
}

.button-outlined {
  color: $accent;
  padding: 12px 40px;
  border: 1px solid $accent;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.5s ease;
  font-weight: 600;
  border-radius: 100px;
  outline: none !important;
  width: fit-content;
  cursor: pointer;
  line-height: 160%;
  max-height: 53px;

  &:hover {
    background: #00ac6a3c;
  }
}

.mobile_menu {
  position: fixed;
  opacity: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #0000004d;
  z-index: 101;
  visibility: hidden;
  transition: linear 0.5s;

  .mobile_menu_container {
    transform: translate(-100%);
    width: 75%;
    height: 100%;
    background: white;
    padding: 50px 32px 0px;
    display: flex;
    flex-direction: column;
    transition: transform linear 0.5s;

    a {
      width: max-content;
    }

    img {
      width: 100px;
    }

    ul {
      padding: 0;
      margin: 0;
      margin-top: 25px;
      a {
        text-decoration: none;
      }
      li {
        list-style-type: none;
        padding: 16px 0;
        border-bottom: 1px solid #eaeaea;
        color: black;
      }
    }
  }
}

.show {
  opacity: 1;
  visibility: visible;
  transition: linear 0.5s;

  .mobile_menu_container {
    transform: translate(0%);
  }
}

.gradient {
  background: linear-gradient(101.46deg, rgba(251, 250, 253, 0) 9.56%, #00ac6a0f 100%);
  border-radius: 20px;
}

.form-link {
  text-decoration: none;
  width: max-content;
}

.centered {
  width: max-content;
  margin: auto;
}